.links {
  margin-top: 7vh;
  position: absolute;
  left: 12px;
  transition: var(--deftransit);
}

.links__linkbtn {
  transform: translateX(-200px);
}

.link {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--blkbg);
  border-radius: 10px;
  width: 17vmin;
  max-width: 160px;
  min-width: 140px;
  box-sizing: border-box;
}
.link:hover {
  transform: scale(1.1);
}

.link a {
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  font-size: 1.3vmin;
}
.link a:visited {
  color: inherit;
}
.link img {
  margin-right: 7px;
}

.link-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: var(--deftransit);
}
.link-btn i {
  color: white;
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.link-btn:hover i {
  transform: scale(1.1);
  opacity: 1;
}

.link-btn__linkbtn {
  transform: rotateY(180deg);
}

.email {
  visibility: visible;
  color: white;
  font-size: 10px;
  opacity: 0;
}
