body {
  display: flex;
  justify-content: space-between;
}

.portal-column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 40vw;
}

.portal-column3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 40vw;
  max-width: 400px;
  margin-right: 30px;
}
