.quote-box {
  display: flex;
  width: 40vw;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.quote-content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quote {
  font-size: 13px;
}

.author {
  font-size: 14px;
  font-weight: 500;
}
.quote-btn {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 11px;
  font-weight: 300;
}
